@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Lora:ital@1&family=Roboto+Slab:wght@500&family=Rubik+Burned&display=swap");

.v-space {
  margin-top: 25pt;
}

.double-v-space {
  margin-top: 50pt;
}

.new-line {
  margin-top: 1.2em;
}

.blue-bg-large-padding {
  background-color: rgb(17, 4, 100);
  padding: 5%;
  padding-bottom: 18%;
  padding-top: 18%;
}

.blue-bg-small-padding {
  background-color: rgb(17, 4, 100);
  padding: 2%;
  padding-bottom: 8%;
  padding-top: 8%;
}

.slides > section:before {
  font-size: 0.3em;
  position: absolute;
  bottom: 0.25em;
  left: 0.25em;
  color: grey;
  content: "Programmering 1, Indval";
}

.smaller-font {
  font-size: 80%;
}

.navigate-right .controls-arrow {
  font-size: 20px;
  color: white;
}

.controls button {
  color: red;
}

.slides h1,
.slides h2,
.slides h3 {
  font-family: "Fredoka", sans-serif;
  text-transform: uppercase;
}

.slides a {
  color: red;
}

.slides .title {
  font-size: 72px;
  color: rgb(255, 255, 255);
  font-family: Fredoka;
  text-transform: uppercase;
}

.slides .subtitle {
  font-size: 60px;
  color: rgb(225, 248, 151);
  font-family: Fredoka;
  text-transform: uppercase;
}

.quarto-title-author-name {
  font-size: 60px;
  color: rgb(225, 248, 151);
  font-family: Fredoka;
  text-transform: uppercase;
}

.date {
  font-size: 80px;
  color: green !important;
}

.navigate-up .controls-arrow,
.navigate-down .controls-arrow .enabled {
  font-size: 20px;
  color: red;
}

.navigate-left .controls-arrow,
.navigate-right .controls-arrow {
  font-size: 10px;
  color: red;
}
